/* common css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

.display-flex{
  display: flex;
}
.dark_1{
  color: #131313;
}

.dark_2{
  color: #727272;
}

.dark_3{
  color: #727272;
}

.bg_primary{
  background-color: #FF900E;
}
.bg_color{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  color: white;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
/* ============= */

/* navbar css */
.brand{
  font-size: 3rem;
}
.navbar{
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0;
}
.menu-container{
  list-style: none;

}
.menu-links{
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}

/* =========== */

/* banner css */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}
.banner-title{
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.banner-desc{
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.banner-image{
  max-width: 1440px;
  width: 100%;
}
/* ============ */