/* common css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

.display-flex{
  display: flex;
}
.dark_1{
  color: #131313;
}

.dark_2{
  color: #424242;
}

.dark_3{
  color: #727272;
}

.bg_primary{
  background-color: #FF900E;
}
.bg_color{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  align-self: flex-start;
}

main > section{
  max-width: 1440px;
  margin:130px auto 0;
  padding: 0 40px ;
}


/* ============= */

/* navbar css */
.brand{
  font-size: 3rem;
  
}
.navbar{
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding: 50px 30px;
}
.menu-container{
  list-style: none;

}
.menu-links{
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

/* =========== */

/* banner css */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}
.banner-title{
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.banner-desc{
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.banner-image{
  max-width: 1440px;
  width: 100%;
}
/* ============ */

/* main section style */
.team-and-features{
  align-items: center;
}
.ourteam{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.ourfeatures{
  margin-left: 70px;
  max-width: 530px;
  flex-direction: column;
  gap: 32px;
}

.features-title{
  font-size: 3rem;
  font-weight: 700;
}
.features-title .p1{
  font-weight: 500;
}
.features-title .p2{
  color: #FF900E;
}



/* experience section styele */

.experience-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 140px;
}

.experience-section-heading{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}
.experience-container p{
  line-height: 26px;
}
.experience-section-heading-container{
  margin-bottom: 80px;
}

.experience-card{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.big-experience{
  font-size: 4.25rem;
  line-height: 70px;
}
.small-experience{
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: 500;
}

.experience-btn{
  padding: 45px;
  margin-top: -100px;
  margin-left: -100px;
}
.experience-image{
  width: 100%;
}


/* Fact section style */
.fact-section-title{
  font-size: 3rem;
}

.fact-description{
  line-height: 1.5rem;
  max-width: 540px;
}

.fact-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  
}

.fact-card{
  width: 240px;
  height: 240px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.fact-number{
  font-size: 3rem;
  font-weight: 600;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 500;
}

/* sponosor related styel */

.sponsor-info{
  max-width: 530px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-section-title{
  margin-bottom: 24px;
}

.sponsor-logo{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
 
}
.sponsor-logo img{
  filter: grayscale(100%);
}


/* footer */
footer{
  padding: 20px;
  text-align: center;
  max-width: 1440px;
  width: 100%;
  margin: 130px auto;
}
footer p{
  width: 100%;
}
/* media query small size screen */

@media screen and (max-width:576px) {
   .menu-container, 
   .navbar, 
   .team-and-features{
    flex-direction: column;
   }

   .ourteam, .fact-container, .experience-container{
    grid-template-columns: repeat(1, 1fr);
    
   }

   .ourfeatures,.fact-section-title, .fact-description{
    margin-left: 20px;
    padding: 20px;
   }
   .fact-section-title{
  font-size: 2rem;
}
  .fact-container{
    justify-items: center;
    margin-top: 20px;
   }
   .sponsor-logo{
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 30px;
  max-width: 1440px;
}

.experience-btn{
  padding: 10px;
  margin: 20px 0 0px 20px;
}
}

/* media query mid size screen */

@media screen and (min-width: 576px) and (max-width: 1025px){
  .team-and-features{
    flex-direction: column;
  }
  .ourteam{
    margin-bottom: 30px;
  }
  .ourfeatures{
    margin: 0 auto;
  }
  .fact-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
   }

  .title-container{
    max-width: 530px;
    margin: 0 auto;
  }
   .fact-container{
    justify-items: center;
    margin-top: 20px;
   }
   .sponsor-logo{
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px;
  
}
}