/* common css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

.display-flex{
  display: flex;
}
.dark_1{
  color: #131313;
}

.dark_2{
  color: #727272;
}

.dark_3{
  color: #727272;
}

.bg_primary{
  background-color: #FF900E;
}
.bg_color{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  align-self: flex-start;
}

main > section{
  max-width: 1440px;
  margin:130px auto 0 ;
}


/* ============= */

/* navbar css */
.brand{
  font-size: 3rem;
  
}
.navbar{
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding: 50px 30px;
}
.menu-container{
  list-style: none;

}
.menu-links{
  text-decoration: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

/* =========== */

/* banner css */
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}
.banner-title{
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.banner-desc{
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.banner-image{
  max-width: 1440px;
  width: 100%;
}
/* ============ */

/* main section style */
.team-and-features{
  align-items: center;
}
.ourteam{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.ourfeatures{
  margin-left: 70px;
  max-width: 530px;
  flex-direction: column;
  gap: 32px;
}

.features-title{
  font-size: 3rem;
  font-weight: 700;
}
.features-title .p1{
  font-weight: 500;
}
.features-title .p2{
  color: #FF900E;
}



/* Fact section style */
.fact-section-title{
  font-size: 3rem;
}

.fact-description{
  line-height: 1.5rem;
  width: 540px;
}

.fact-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  width: 240px;
  height: 240px;
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
}

/* media query small size screen */

@media screen and (max-width:576px) {
   .menu-container, 
   .navbar, 
   .team-and-features{
    flex-direction: column;
   }

   .ourteam{
    grid-template-columns: repeat(1, 1fr);
   }

   .ourfeatures{
    margin-left: 20px;
    padding: 20px;
   }
}

/* media query mid size screen */

@media screen and (min-width: 576px) and (max-width: 992px){
  .team-and-features{
    flex-direction: column;
  }
  .ourteam{
    margin-bottom: 30px;
  }
  .ourfeatures{
    margin: 0 auto;
  }
}